{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is an about page</h1>
      <p>This came from tempalte: {{index .StringMap "test"}}</p>

      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
          <p>your ip is {{index .StringMap "remote_ip"}}</p>
        {{else}}
          <p>visit <a href="/">home</a> to get ip address</p>
        {{end}}
      </p>
    </div>
  </div>
</div>
{{end}}